<link href="../static/css/style.css" rel="stylesheet" type="text/css">
{% extends "base.html" %}

{% block title %}Avirta - Home{% endblock %}

{% block content %}
    <div class="features">
        <div class="feature">
            <a href="{{ url_for('create_room') }}" class="button">Knowleadge Columns<br>أعمدة المعرفة</a>
            <p>Start your own game room and invite friends to join. Select up to 7 categories for your game.</p>
		</div>
        <div class="feature">
            <a href="{{ url_for('fastest_create_room') }}" class="button">Who is the fastest<br>من الأسرع</a>
            <p>Start a "Who is the fastest" game where players compete to answer questions the fastest.</p>
		</div>
        <div class="feature">
            <a href="{{ url_for('hex_create_room') }}" class="button">The Hive<br>الخلية</a>
            <p>Create a two-team The Hive board game room.</p>
        </div>
	</div>
        <div class="feature"> <a href="{{ url_for('join_room') }}" class="button">Join An Active Game | انضم إلى لعبة فعالة</a>
		</div>
{% endblock %}
